body{
	font-family: 'Coming Soon', cursive;
}

#wrapper {
	width: 50%;
	min-width:400px;
	margin:10px auto;
	text-align: center;
	
}

#title {
	font-size: 3em;
	text-align: center;
	margin: 10px 0;
}

#start{	
	width: 200px;
	margin:0 auto;
	font-family: 'Coming Soon', cursive;
	font-size: 2em;
	text-align: center;
	border: 3px solid #56e7f0;
	background-color: #fff;
	border-radius: 10px;
}

button:focus{
    outline: 0;
}


#interface {
	margin: 0 auto;
	font-size: 2em;
	text-align: center;
}

#gameboard {
	letter-spacing: .5em;
	font-size: 2em;
}

#cat {
	height: 400px;
}